div.margin
  margin-top 20px
  margin-bottom 20px

md-card.margin // @stylint ignore
  margin-top 20px
  margin-bottom 20px
  margin-left 40px
  margin-right 40px

.input-margin
  margin-left 5px
  margin-right 5px

md-input-container // @stylint ignore
  width 99%

.textarea
  width 99%

textarea
  height 80px

button
  margin-left 15px