main
  .grid-g
    .grid-u-1
      md-card.margin
        md-card-header
          md-card-title
            h2 Contact
        md-card-content
          form([formGroup]="ngForm", (ngSubmit)="submitForm(ngForm.value)")
            .grid-g
              div.grid-u-md-1.grid-u-lg-1-2
                .grid-g
                  .grid-u-1.grid-u-md-1-3.grid-u-lg-1-3
                    md-input-container
                      input.input-margin(mdInput, placeholder="Voornaam", [formControl]="ngForm.controls['firstName']")
                  .grid-u-1.grid-u-md-1-3.grid-u-lg-1-3
                    md-input-container
                      input.input-margin(mdInput, placeholder="Tussenvoegsel", [formControl]="ngForm.controls['preposition']")
                  .grid-u-1.grid-u-md-1-3.grid-u-lg-1-3
                    md-input-container
                      input.input-margin(mdInput, placeholder="Achternaam", [formControl]="ngForm.controls['lastName']")
                div
                  .grid-g
                    .grid-u-1.grid-u-md-1-2.grid-u-lg-1-2
                      md-input-container
                        input.input-margin(mdInput, placeholder="Email", [formControl]="ngForm.controls['mail']")
                    .grid-u-1.grid-u-md-1-2.grid-u-lg-1-2
                      md-input-container
                        input.input-margin(mdInput, placeholder="Onderwerp", [formControl]="ngForm.controls['subject']")
              div.grid-u-1.grid-u-md-1.grid-u-lg-1-2
                md-input-container.textarea
                  textarea.input-margin(mdInput, placeholder="Bericht", id="message", [formControl]="ngForm.controls['message']")
            div.center
              md-slide-toggle(color="primary", [formControl]="ngForm.controls['copy']") Stuur mij een kopie
              button(md-raised-button, color="primary", type="submit", [disabled]="!ngForm.valid") Verstuur