md-card.margin // @stylint ignore
  margin-top 20px
  margin-bottom 20px
  margin-left 40px
  margin-right 40px

@media screen and (max-width:35.438em)
  md-card.margin // @stylint ignore
    margin-top 20px
    margin-bottom 20px
    margin-left 0
    margin-right 0

.menu
  margin-top 5px

md-icon.dissatisfied // @stylint ignore
  font-size 60px
  margin-bottom 15px

.loading
  display flex
  align-items center
  justify-content center

.center p
  font-size 30px
  margin-bottom 10px