.margin
  margin-top 20px
  margin-bottom 20px
  margin-left 40px
  margin-right 40px

@media screen and (max-width:35.438em)
  .margin
    margin-top 20px
    margin-bottom 20px
    margin-left 0
    margin-right 0

.flex
  display flex

.chip-margin
  margin-top 5px !important
  margin-bottom 5px !important

md-card // @stylint ignore
  align-items stretch

md-card-content // @stylint ignore
  text-align justify
  line-height 1.5em

md-chip:first-of-type // @stylint ignore
  margin-left 3px

@font-face
  font-family 'Taken by Vultures'
  src url('../../../assets/fonts/taken-by-vultures.otf')

.signature
  font-family 'Taken by Vultures' fantasy
  font-size 60px
  padding 40px 0 30px
