<main id="container" fxLayout.gt-sm='row' fxLayout.sm='column' fxLayout.xs='column'>
  <md-card fxFlex.gt-sm="60%" fxFlex.sm="90%" fxFlex.xs="98%" [class.sm]="'width_90'" [class.xs]="'width_98'">
    <md-card-header>
      <md-card-title><h2>Over mij</h2></md-card-title>
    </md-card-header>
    <md-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia, tortor eget lacinia rutrum, ante metus vulputate ex, ac tincidunt nisl metus eu orci. Morbi nisl leo, aliquam at luctus id, tincidunt vitae velit. Curabitur nec ipsum nunc. Nullam commodo faucibus elit, sed ultrices enim scelerisque in. Nullam fringilla sagittis nibh vel pharetra. Nam dignissim, nibh sed pulvinar mollis, quam sapien rutrum dui, ut placerat velit magna non quam. Curabitur sed auctor ante. Phasellus ac commodo felis. Quisque vitae erat ut ex varius gravida.

      Aliquam erat volutpat. Integer feugiat vestibulum nisl. Mauris sit amet ultricies ligula. Curabitur id lacus leo. Donec ac elit molestie, gravida tellus nec, ullamcorper nibh. Nullam vulputate vitae est ac vestibulum. Nullam mattis ipsum non erat aliquet, ac imperdiet mi posuere. Donec tincidunt dolor finibus interdum ultricies. Nunc vestibulum vestibulum risus, et fringilla nibh tempus ac. Ut fringilla arcu a mollis venenatis. Sed condimentum tortor sit amet mattis ultrices. Praesent magna sem, feugiat at hendrerit eu, rhoncus nec nisl.

      Nulla in dolor quis nibh facilisis tempus. Suspendisse in efficitur diam. Cras ac est purus. Vivamus eget urna quis sem rutrum scelerisque. Cras fermentum condimentum tortor, vel eleifend diam dignissim id. Pellentesque blandit, sapien sit amet efficitur mollis, urna lorem facilisis diam, vitae interdum libero velit vel turpis. Etiam sodales enim in orci imperdiet, vel pellentesque leo tempor.

      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis sit amet ligula quam. Donec non elit nec lectus faucibus tempor ac eu dolor. Suspendisse ultricies nisi id bibendum luctus. Praesent convallis nisi eu velit scelerisque convallis. Maecenas iaculis posuere eros, quis tincidunt mi viverra ut. Sed ut consectetur dolor, sed porta est. Proin faucibus neque nisl, sed condimentum ex dignissim sed. Nullam dolor purus, malesuada sed ultrices nec, porta sed turpis.
    </md-card-content>
  </md-card>

  <md-card fxFlex.gt-sm="30%" fxFlex.sm="90%" fxFlex.xs="98%" [class.sm]="'width_90'" [class.xs]="'width_98'">
    <md-card-header>
      <md-card-title><h2>Vaardigheden</h2></md-card-title>
    </md-card-header>
    <md-card-content>
      <md-chip-list selectable="false">
        <md-chip *ngFor="let skill of skills"
            selected="true"
            [color]="skill.color"
            [innerText]="skill.name">
        </md-chip>
      </md-chip-list>
    </md-card-content>
  </md-card>
</main>
