.grid-g
  width 100%
  height 64px

md-toolbar // @stylint ignore
  background #c2185b
  display flex
  align-items center
  justify-content center

  span
    color white
    font-weight bold

  md-icon // @stylint ignore
    color: #ff93f0
    font-size 30px
    margin-left 5px