<main id="container" fxLayout="row">
  <md-card fxFlex.gt-sm="95%" fxFlex.xs="98%" fxFlex.sm="90%">
    <md-card-header>
      <md-card-title><h2>Diploma’s en certificaten</h2></md-card-title>
    </md-card-header>
    <md-card-content fxLayout.gt-md='row' fxLayout.md='column' fxLayout.sm='column' fxLayout.xs='column' fxLayoutAlign="space-around" fxLayoutGap="20px" class="safari_hack">

      <div fxFlex="1 1 auto" fxLayout.gt-sm='row' fxLayout.sm='column' fxLayout.xs='column' fxLayoutAlign="space-between" fxLayoutGap="20px" class="safari_hack" *ngFor="let j of diplomas;">

        <md-card fxFlex="0 1 300px" class="safari_hack" [class.sm]="'max_width'" [class.xs]="'max_width'" *ngFor="let diploma of j">
          <md-card-header>
            <md-card-title [innerText]="diploma.name"></md-card-title>
          </md-card-header>
          <img md-card-image [src]="'../../../assets/img/' + diploma.image + '.png'" width="300px" height="300px" />
          <md-card-content [innerText]="diploma.date"></md-card-content>
        </md-card>

      </div>

    </md-card-content>
  </md-card>
</main>
