.header-background
  background #e91e63
  height 300px

.header-section
  text-align center
  padding-top 45px
  color white

h1
  font-size 5em
  font-weight 900
  margin-bottom 5px

h2
  font-size 2.35em
  margin-bottom 5px
  margin-top 5px

h3
  font-size 1em