md-card // @stylint ignore
  align-items stretch

div.margin
  margin-top 20px
  margin-bottom 20px

md-card.margin // @stylint ignore
  margin-top 20px
  margin-bottom 20px
  margin-left 40px
  margin-right 40px

@media screen and (max-width:35.438em)
  md-card.margin // @stylint ignore
    margin-top 20px
    margin-bottom 20px
    margin-left 0
    margin-right 0

.menu
  margin-top 5px

md-icon.dissatisfied // @stylint ignore
  font-size 60px
  margin-bottom 15px

.loading
  display flex
  align-items center
  justify-content center

md-list-item > md-icon // @stylint ignore
  position absolute
  margin-left -350px
  margin-top 36px

md-icon.done // @stylint ignore
  position absolute
  margin-top -6px
  color #00FF00

md-icon.clear // @stylint ignore
  position absolute
  margin-top -6px
  color red

.flex
  display flex

.height
  margin-bottom 5px

.stack_link
  color white
  font-size 18px
  cursor pointer

.card-width
  width 248px

.card
  margin auto
  max-width 200px
  height 450px

@media screen and (max-width:35.438em)
  .card
    margin-top 20px
    margin-bottom 20px
    margin-left 0
    margin-right 0
    height 465px !important

.center_card
  display flex
  align-items center
  justify-content center

.chip
  width 100%
  text-align center
  margin 0 0 5px 0 !important

.badges
  align-items center
  flex-direction column

img
  height 248px

.gold
  background-color gold !important
  color #000000 !important
  margin-bottom 2px

.silver
  background-color silver !important
  color #000000 !important
  margin-bottom 2px

.bronze
  background-color #cd7f32 !important
  margin-bottom 2px

@media screen and (min-width: 1470px)
  .bubble_icon
    color white
    font-size large

@media screen and (max-width: 1470px)
  .bubble_icon
    display none