[hidden] {
  display: none !important;
}

.menu {
  margin-top: 5px;
}

.dissatisfied {
  margin-top: -5px;
  margin-left: 5px;
}

.gold {
  background-color: gold !important;
  margin-bottom: 2px;
}

.silver {
  background-color: silver !important;
  margin-bottom: 2px;
}

.bronze {
  background-color: #cd7f32 !important;
  margin-bottom: 2px;
}

.tags {
  margin-bottom: 2px;
}

.bubble_icon {
  margin-top: 10px;
}

.margin_right {
  margin-right: 10px;
}

.height {
  height: 20px;
}

.answers {
  width: 100%;
}

.limit_width {
  max-width: 50%;
}

.reset_max_height {
  max-height: none !important;
  width: 50%;
}
