app-menu
#container
  main
    app-header

    app-about#about

    app-whatpulse#whatpulse

    app-diplomas#diplomas

    app-stackexchange#stackexchange
    app-github#github

    // app-contact#contact

  app-footer