<main id="container" fxLayout="row">
  <md-card fxFlex="1 1 95%" fxFlex.xs="1 1 98%" fxFlex.sm="1 1 90%">
    <md-card-header>
      <md-card-title><h2>Github</h2></md-card-title>
      <button md-icon-button [mdMenuTriggerFor]="menu" class="menu">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <a md-menu-item href="https://github.com/Owain94" target="_blank">
          <md-icon>link</md-icon>
          <span>Bezoek m'n GitHub</span>
        </a>
      </md-menu>
    </md-card-header>
    <md-card-content fxLayoutAlign="center" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-around">
      <h3 md-subheader [hidden]="loading || error">
        Repositories
      </h3>

      <md-list *ngFor="let j of repositories;" [hidden]="loading || error" class="safari_hack">
        <md-list-item *ngFor="let repo of j">
          <md-icon md-list-avatar class="code_icon">code</md-icon>
          <h4 md-line class="height">
            <a [href]="repo?.clone_url" target=_blank [innerText]="repo?.name" class="github_link"></a>
          </h4>
          <p md-line class="height">
            Laatst geüpdatet op:
            <span [innerText]="repo?.updated_at | betterDate"></span>
          </p>
          <p md-line class="height">
            Meest gebruikte taal:
            <span [innerText]="repo?.language ? repo?.language : '-'"></span>
          </p>
        </md-list-item>
      </md-list>

      <md-progress-circle
        [color]="'accent'"
        [mode]="'indeterminate'"
        *ngIf="loading && !error"
        xFlexAlign="center"
        fxLayoutAlign="center">
      </md-progress-circle>
      <div *ngIf="!loading && error" fxLayoutAlign="center">
        <p>Er kon geen connectie worden gemaakt met de github API.</p>
        <md-icon color="primary" class="dissatisfied">
          sentiment_very_dissatisfied
        </md-icon>
      </div>
    </md-card-content>
  </md-card>
</main>
