md-toolbar {
  position: fixed;
  z-index: 999;
  top: 0;
}

.mat-toolbar {
  background: transparent;
  color: black;
  transition: background 0.5s ease-out, color 0.5s ease-out;
}

.mat-toolbar_color {
  background: #3f51b5 !important;
  color: white !important;
}

