<md-toolbar [ngClass]="{'mat-toolbar_color': color }" fxLayout="row" fxLayoutAlign.gt-xs="center center" fxLayoutAlign.xs="start center" fxLayoutGap="5px">
  <button md-icon-button [mdMenuTriggerFor]="menu" fxHide.gt-xs>
    <md-icon>menu</md-icon>
  </button>

  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="menuClick($event, '#about')">Over mij</button>
    <button md-menu-item (click)="menuClick($event, '#diplomas')">Diploma’s</button>
    <button md-menu-item (click)="menuClick($event, '#stackexchange')">Stack Overflow</button>
    <button md-menu-item (click)="menuClick($event, '#github')">GitHub</button>
    <button md-menu-item (click)="menuClick($event, '#contact')">Contact</button>
  </md-menu>

  <button md-button fxHide.xs (click)="menuClick($event, '#about')">Over mij</button>
  <button md-button fxHide.xs (click)="menuClick($event, '#diplomas')">Diploma’s</button>
  <button md-button fxHide.xs (click)="menuClick($event, '#stackexchange')">Stack Overflow</button>
  <button md-button fxHide.xs (click)="menuClick($event, '#github')">GitHub</button>
  <button md-button fxHide.xs (click)="menuClick($event, '#contact')">Contact</button>
</md-toolbar>